$color_primary: #42bacb;
$color_letras_form: #23689b;

body{
	margin: 0;
	padding: 0;
}

/*=== ESTILOS DE NAV ===*/
.navMobile{
	background: $color_primary;
	display: none;
	img{
		width: 60%;
    	padding: 15px 0;
		&.leftImg{
			float: left;
			width: 75%;
		}
		&.rightImg{
			float: right;
		}
	}
}

/*=== FIN ESTILOS NAV ===*/
/*=== ESTILOS BANNER ===*/
.bannerContent{
	background: #42bacb;
	.leftCarrousel, .rightForm{
		padding: 0 !important;
	}
	.leftCarrousel{
		position: relative;
		.owl-nav{
			margin-top: 0;
			button{
				&.owl-prev{
					position: absolute;
				    top: 40%;
				    left: 20px;
				    color: #04437a !important;
				    font-size: 100px ;
				    outline: none;
				    &:hover{
				    	background: initial;
				    }
				}
				&.owl-next{
					position: absolute;
				    right: 20px;
				    top: 40%;
				    font-size: 100px ;
				    color: #04437a !important;
				    outline: none;
				    &:hover{
				    	background: initial;
				    }
				}
			}

		}
		.item{
			.nameCarrera{
				position: absolute;
			    bottom: 0px;
    			left: -14px;
			    padding-top: 80px;
			    padding-left: 50px;
			    padding-bottom: 80px;
			    padding-right: 49px;
			    background: url(../img/Logos_Iconos/CLAQUETA.png);
			    background-position: center;
			    background-repeat: no-repeat;
			    background-size: 108%;
				h3{
					color: white;
				    font-size: 30px;
				    margin: 0;
				}
			}
			.moreleft{
				left: -20px;
			}
		}		
		img.logoFlotante{
			    width: 200px;
			    position: absolute;
			    z-index: 10;
			    top: 20px;
		}
		img.imgdesk{
			display: block;
		}
		img.imgmobile{
			display: none;
		}
		.owl-dots {
			width: 100%;
		    position: absolute;
		    bottom: 0;
		    span{
		    	width: 40px !important;
		    	height: 5px !important;
		    }
		    .owl-dot{
		    	outline: none;
		    }
		}
	}
	.rightForm{
		background: $color_primary;
		.contformWiener{
			padding: 90px 40px 60px 40px;
			color: white;
			h2{
				text-align: center;
			}
			form{
				padding-left: 10px;
				padding-right: 10px;
				.checkbox{
					label{
						font-size:14px;
						input{
							margin: auto;
    						margin-left: -20px;
						}
					}
				}
				button{
					    width: 100%;
					    color: #23689b;
					    background: #ffcb5e;
					    border: 0;
					    border-radius: 5px;
					    font-weight: 600;
					    font-size: 16px;
					    padding: 3px 0;
				}
			}
			img{
				width: 100%;
				margin-bottom: 15px;
			}
		}
	}
}
/*FIN ESTILOS BANNER*/

/*=== ESTILOS ESTUDIO ===*/
.sectionOpciones{
	padding-top: 50px;
	padding-bottom: 50px;
	.textura{
		img{
			width: 100%;
		}
	}
	.title{
		margin-bottom: 80px;
		padding: 0 !important;
	    /*background: url(../img/Logos_Iconos/TEXTURA.png);
	    background-position: center;
	    background-size: 33% 100%;*/
		h1{
			text-align: center;
		    display: table;
		    margin: auto;
		    background: #fff;
		    //padding: 0 20px 0 20px;
		}
	}
	.tarjetEstudio{
		margin: 0 20px 50px 20px;
		img{
			width: 30%;
			margin: auto;
			display: table;
		}
		.contInfo{
			p{
				text-align: center;
				margin: 0px;
				strong{
					display: block;
				}
			}
		}
	}
}
/*FIN ESTUDIOS*/
/*=== MEDIAS ===*/

@media (max-width: 800px) {
	
	.title{
		background: initial !important;
	}

}

@media (max-width: 770px){

	.contformWiener{
		padding: 20px 40px 60px 40px !important;
		img{
			display: none;
		}
	}
	.textura{
		display: none;
	}
	.leftCarrousel{	
		img.imgdesk{
			display: none !important;
		}
		img.imgmobile{
			display: block !important;
		}
	}

}

@media (max-width: 500px) {
	
	.navMobile{
		display: block;
	}
	.item{
		.nameCarrera{
			position: absolute;
		    bottom: -27px !important;
		    left: -37px !important;
		    padding-top: 80px;
		    padding-left: 50px;
		    padding-bottom: 80px;
		    padding-right: 49px;
		    background: url(../img/Logos_Iconos/CLAQUETA.png);
		    background-position: center;
		    background-repeat: no-repeat;
		    background-size: 85% !important;
			h3{
				color: white;
			    font-size: 15px !important;
			    margin: 0;
			}
		}
	}
	.owl-nav{
			button{
				&.owl-prev{
					position: absolute;
				    top: 25% !important;
				    left: 5px !important;
				    color: #04437a !important;
				    font-size: 70px !important;
				    outline: none;
				    &:hover{
				    	background: initial;
				    }
				}
				&.owl-next{
					position: absolute;
				    right: 5px !important;
				    top: 25% !important;
				    font-size: 70px !important;
				    color: #04437a !important;
				    outline: none;
				    &:hover{
				    	background: initial;
				    }
				}
			}

		}		

}
