body {
  margin: 0;
  padding: 0;
}

/*=== ESTILOS DE NAV ===*/
.navMobile {
  background: #42bacb;
  display: none;
}
.navMobile img {
  width: 60%;
  padding: 15px 0;
}
.navMobile img.leftImg {
  float: left;
  width: 75%;
}
.navMobile img.rightImg {
  float: right;
}

/*=== FIN ESTILOS NAV ===*/
/*=== ESTILOS BANNER ===*/
.bannerContent {
  background: #42bacb;
}
.bannerContent .leftCarrousel, .bannerContent .rightForm {
  padding: 0 !important;
}
.bannerContent .leftCarrousel {
  position: relative;
}
.bannerContent .leftCarrousel .owl-nav {
  margin-top: 0;
}
.bannerContent .leftCarrousel .owl-nav button.owl-prev {
  position: absolute;
  top: 40%;
  left: 0px;
  color: #23689b !important;
  font-size: 70px;
  outline: none;
  background: #ffffffb8;
  margin: 0 !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
}
.bannerContent .leftCarrousel .owl-nav button.owl-prev:hover {
  background: #ffffffb8;
}
.bannerContent .leftCarrousel .owl-nav button.owl-next {
  position: absolute;
  right: 0px;
  top: 40%;
  color: #23689b !important;
  font-size: 70px;
  outline: none;
  background: #ffffffb8;
  margin: 0 !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
}
.bannerContent .leftCarrousel .owl-nav button.owl-next:hover {
  background: #ffffffb8;
}
.bannerContent .leftCarrousel .item .nameCarrera {
  position: absolute;
  bottom: 40%;
  right: 14%;
}
.bannerContent .leftCarrousel .item .nameCarrera h3 {
  color: white;
  font-size: 60px;
  margin: 0;
  text-shadow: 0px 4px 7px #3a3a3a;
}
.bannerContent .leftCarrousel img.logoFlotante {
  width: 200px;
  position: absolute;
  z-index: 10;
  top: 20px;
}
.bannerContent .leftCarrousel img.imgdesk {
  display: block;
  height: 100vh;
  object-fit: cover;
}
.bannerContent .leftCarrousel img.imgmobile {
  display: none;
}
.bannerContent .leftCarrousel .owl-dots {
  width: 100%;
  position: absolute;
  bottom: 0;
}
.bannerContent .leftCarrousel .owl-dots span {
  width: 40px !important;
  height: 5px !important;
}
.bannerContent .leftCarrousel .owl-dots .owl-dot {
  outline: none;
}
.bannerContent .rightForm {
  background: #42bacb;
  display: grid;
  height: 100vh;
  align-items: center;
}
.bannerContent .rightForm .contformWiener {
  padding: 0 30px;
  color: white;
}
.bannerContent .rightForm .contformWiener h2 {
  text-align: center;
}
.bannerContent .rightForm .contformWiener form {
  padding-left: 10px;
  padding-right: 10px;
}
.bannerContent .rightForm .contformWiener form .checkbox label {
  font-size: 14px;
}
.bannerContent .rightForm .contformWiener form .checkbox label input {
  margin: auto;
  margin-left: -20px;
}
.bannerContent .rightForm .contformWiener form button {
  width: 100%;
  color: #23689b;
  background: #ffcb5e;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 16px;
  padding: 3px 0;
}
.bannerContent .rightForm .contformWiener img {
  width: 100%;
  margin-bottom: 15px;
}

/*FIN ESTILOS BANNER*/
/*=== ESTILOS ESTUDIO ===*/
.sectionOpciones {
  padding-top: 50px;
  padding-bottom: 50px;
}
.sectionOpciones .textura img {
  width: 100%;
}
.sectionOpciones .title {
  margin-bottom: 80px;
  padding: 0 !important;
  /*background: url(../img/Logos_Iconos/TEXTURA.png);
  background-position: center;
  background-size: 33% 100%;*/
}
.sectionOpciones .title h1 {
  text-align: center;
  display: table;
  margin: auto;
  background: #fff;
}
.sectionOpciones .tarjetEstudio {
  margin: 0 20px 50px 20px;
}
.sectionOpciones .tarjetEstudio img {
  width: 30%;
  margin: auto;
  display: table;
}
.sectionOpciones .tarjetEstudio .contInfo p {
  text-align: center;
  margin: 0px;
}
.sectionOpciones .tarjetEstudio .contInfo p strong {
  display: block;
}

/*FIN ESTUDIOS*/
/*=== MEDIAS ===*/
@media (max-width: 800px) {
  .title {
    background: initial !important;
  }
}
@media (max-width: 770px) {
  .bannerContent .rightForm {
    height: 70vh;
  }

  .contformWiener {
    padding: 20px 40px 60px 40px !important;
  }
  .contformWiener img {
    display: none;
  }

  .textura {
    display: none;
  }

  .leftCarrousel .owl-dots {
    bottom: 8px !important;
  }
  .leftCarrousel img.imgdesk {
    display: none !important;
  }
  .leftCarrousel img.imgmobile {
    display: block !important;
  }
}
@media (max-width: 630px) {
  .owl-nav {
    margin-top: 0;
  }
  .owl-nav button.owl-prev {
    font-size: 55px !important;
  }
  .owl-nav button.owl-next {
    font-size: 55px !important;
  }
}
@media (max-width: 600px) {
  .item .nameCarrera h3 {
    color: white;
    font-size: 40px !important;
    margin: 0;
    text-shadow: 0px 4px 7px #3a3a3a;
  }
}
@media (max-width: 500px) {
  .navMobile {
    display: block;
  }
}

/*# sourceMappingURL=style.css.map */
